.messages
{   margin-top:10%;
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius:5px;
}
